.switchWrapper {
    --size: 2.5rem;
    position: absolute;
    right: 5%;
    top: 1%;
    width: calc(var(--size) * 2.2);
    height: var(--size);
    background-color: var(--color-bg-alt);
    border-radius: calc(var(--size) / 2);
    transition: .5s;
}

.switchWrapper-alt {
    background-color: var(--color-bg);
}

.switchTrigger {
    position: relative;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    height: var(--size);
    width: var(--size);
    background-color: var(--color-tertiary-alt);
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}