:root{
  --color-bg: hsl(0, 41%, 7%);
  --color-primary: hsl(297, 64%, 28%);
  --color-secondary: hsl(327, 100%, 47%);
  --color-tertiary: hsl(341, 85%, 74%);

}
body{
  background-color: var(--color-bg);
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

h1{
  font-size: 4rem;
  color:var(--color-secondary)
}

h3{
  font-size: 3rem;
  color:var(--color-tertiary)
}

input {
  font-size: 2rem;
}

.gradeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradeDisplay {
  margin-left: 5px;
  margin-right: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

