:root {
  --color-bg: hsl(0, 41%, 15%);
  --color-primary: hsl(297, 64%, 28%);
  --color-secondary: hsl(327, 100%, 47%);
  --color-tertiary: hsl(341, 85%, 74%);
  --color-tertiary-hover: hsl(341, 85%, 60%);
  --color-bg-alt: hsl(203, 82%, 33%);
  --color-primary-alt: hsl(216, 84%, 47%);
  --color-secondary-alt: hsl(204, 100%, 64%);
  --color-tertiary-alt: hsl(197, 100%, 94%);
  --color-tertiary-alt-hover: hsl(197, 100%, 80%);

}


.bodyalt {
  background-color: var(--color-bg-alt);
}

.App {
  display: inline-block;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--color-bg);
}

.Appalt {
  background-color: var(--color-bg-alt);
}

h1 {
  font-size: 3.25rem;
  color: var(--color-secondary)
}

.h1alt {
  color: var(--color-secondary-alt)
}

h3 {
  font-size: 2.5rem;
  color: var(--color-tertiary)
}

.h3alt {
  color: var(--color-tertiary-alt)
}

input {
  font-size: 2rem;
}

.gradeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradeDisplay {
  margin-left: 5px;
  margin-right: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}